# Чувствительные данные
.env
.env.local
.env.*.local

# Данные
*.csv
*.xlsx
*.json
*.parquet
data/
raw_data/
processed_data/

# Системные файлы
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Временные файлы
*.tmp
*.temp
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Виртуальные окружения
venv/
env/
virtualenv/